LAWSQL_BOT_TOKEN=op://dev/lawdata/credential
DATASETTE_GITHUB_AUTH_CLIENT_ID=op://dev/lawdata/github/id
DATASETTE_GITHUB_AUTH_CLIENT_SECRET=op://dev/lawdata/github/token
CF_ACCT_ID=op://dev/cloudflare/acct_id
R2_ACCESS_KEY_ID=op://dev/cloudflare/r2/access_key_id
R2_SECRET_ACCESS_KEY=op://dev/cloudflare/r2/secret_access_key
R2_ENDPOINT=op://dev/cloudflare/r2/endpoint
R2_BUCKET=op://dev/lawdata/r2/bucket
R2_PATH=op://dev/lawdata/r2/path
DB_FILE=data/x.db
