LAWSQL_BOT_TOKEN=op://dev/lawdata/credential
DATASETTE_GITHUB_AUTH_CLIENT_ID=op://dev/lawdata/github/id
DATASETTE_GITHUB_AUTH_CLIENT_SECRET=op://dev/lawdata/github/token
LITESTREAM_ACCESS_KEY_ID=op://dev/aws/access_key_id
LITESTREAM_SECRET_ACCESS_KEY=op://dev/aws/secret_access_Key
